<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/mystyle.css">
  <title><%= pageTitle%></title>
</head>
<%- include('../includes/navigation') %>
<body>
<form action="/auth/changepassword" method="POST" style="width: 400px;margin: auto;" >
    <label for="password">New password:</label>
    <input type="text" name="password" id="password" class="form-control" >
    <label for="confirmpassword">Confirm new password:</label>
    <input type="text" name="confirmpassword" id="confirmpassword" class="form-control" >

    <input type="hidden" name="userId" value="<%=userId%>">
    <input type="hidden" name="_csrf" value="<%= csrfToken%>">
    <div style="text-align: center;">
        <button type="submit" class="btn btn-outline-success" >Change Password</button>
    </div>
</form>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>