<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/mystyle.css">
  <title><%= pageTitle%></title>
</head>
<%- include('../includes/navigation') %>
<body>

  <div class="container">
    <div class="row">
      <div class="column">
        <div class="alert alert-info" role="alert">We just send link to your email. Please visit your email and follow the instruction to recover your account! 
          <hr>If you did not receive any email in 30 minutes, please try again!</div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <a href="/auth/login" class="btn btn-danger">Back to Login Page</a>
      </div>
    </div>
  </div>
    

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>